@import url("./cabecalho/cabecalho.css");
@import url("./sobre/sobre.css");

:root {
    --azul-escuro: #2E7BA2;
    --mostarda: #DF9010;
    --branco: #FFFFFF;
    --preto: #000000;
    --cinza: #444444;
    --Raleway: "Raleway"
}

.body{
    font-size: 16px;
    font-weight: 400;
}
.fundo {
    background:linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);;
}

